<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Nuevo Doctor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Nuevo Doctor</h2>
    <form th:action="@{/guardardoc}" th:object="${doctor}" method="post">
        <p hidden>
            <input type="text" th:field="*{iddoctores}" readonly="readonly">
        </p>

        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control col-sm-6" th:field="*{nombre}" placeholder="Ingrese su Nombre">
            <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></p>
        </div>

        <div class="form-group">
            <label>Apellido:</label>
            <input type="text" class="form-control col-sm-6" th:field="*{apellido}" placeholder="Ingrese su Apellido">
            <p th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="text-danger"></p>
        </div>

        <div class="form-group">
            <label>Telefono:</label>
            <input type="text" class="form-control col-sm-6" th:field="*{telefono}" placeholder="Ingrese su Telefono">
            <p th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="text-danger"></p>
        </div>

        <div class="form-group">
            <label>Selecciona una Especialidad:</label><br>
            <select class="form-control col-sm-6" th:field="*{especialidad}">
                <option th:each="e:${listaEsp}"
                        th:value = "${e.idespecialidad}"
                        th:text = "${e.nombre}"
                />
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>